<!-- Start Future Area -->
<section class="future-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Revor</span>
            <h2>STORY</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-future-box">
                    <i class="flaticon-trustworthy"></i>
                    <h3>VISION</h3>
                    <p>Our vision is to be the world’s pre-eminent life insurance provider. That is our service to our customers and our shareholders.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-future-box">
                    <i class="flaticon-saving"></i>
                    <h3>PURPOSE</h3>
                    <p>Our purpose is to help people live Healthier, Longer, Better Lives, in every community we live and work, with products and policies that don’t just protect lives but help make lives healthier, longer and better.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-future-box">
                    <i class="flaticon-cross"></i>
                    <h3>WHY REVOR?</h3>
                    <p>We can help you plan and take the steps needed to ACHIEVE YOUR FINANCIAL GOALS.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Future Area -->