<!-- Start Partner Area -->
<div class="partner-area bg-color ptb-70">
    <div class="container">
        <div class="partner-slider">
            <owl-carousel-o [options]="partnerSlidesOptions">
                <ng-template carouselSlide *ngFor="let item of partnerImageArray">
                    <div class="partner-item">
                        <a href="#" target="_blank">
                            <img src="{{item.url}}" alt="Image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- End Partner Area -->