<!-- Start Page Title Area -->
<div class="page-title-area bg-11">
    <div class="container">
        <div class="page-title-content">
            <h2>Car Insurance</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li class="active">Car Insurance</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Car Insurance Area -->
<section class="car-insurance-area pt-100 pb-70">
    <div class="container">
        <div class="car-insurance-content">
            <div class="content step-1">
                <div class="row">
                    <div class="col-lg-5 col-md-12"  [innerHTML]="headerContent">
                    </div>

                    <div class="col-lg-7 col-md-12">
                        <div class="car-insurance-img" [ngStyle]="{ 'background-image': 'url(' + bannerImg + ')'}"></div>
                    </div>
                </div>
            </div>

            <div class="content step-2" [innerHTML]="body">
            </div>


        </div>
    </div>
</section>
<!-- End Car Insurance Area -->