<!-- Start Company Area -->
<section class="company-area bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="company-img">
                    <div class="trusted">
                        <span>100%</span>
                        <h3>Trusted Company</h3>
                        <p>You can depend on us for our company's services</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="company-content ptb-100">
                    <span class="top-title">Welcome to <strong>Revor</strong></span>
                    <h2>Since 25 Years, Our Company Has Been Working Very Faithfully</h2>
                    <p class="some-bold">Revor is the largest independent publicly listed pan-Asian life insurance group – with a presence in 18 markets across the Asia-Pacific region.</p>
                    <p>We aim to be where the growth is, connecting customers to opportunities, enabling businesses to thrive and economies to prosper, and ultimately helping people to fulfil their hopes and realise their ambitions.</p>
                    <a routerLink="/about-us" class="default-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Company Area -->