<!-- Start Footer Area -->
<footer class="footer-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget single-bg">
                    <a routerLink="/" class="logo">
                        <img src="assets/img/logo.png" alt="Image"> 
                    </a>
                    <p>Satisfaction in enjoying life’s pleasures with Revor Insurance offers.</p>
                    <ul class="social-icon">
                        <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin-square"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact</h3>

                    <ul class="address">
                        <li>
                            <span>Phone:</span>
                            <a href="tel:+1-(514)-312-6677">+1 (514) 312-6677</a>
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:hello@revor.com">hello@revor.com</a>

                        </li>
                        <li class="location">
                            <span>Address:</span>
                            2364 Oakdale Avenue Clearwater, FL 34620, New York, USA
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>

                    <ul class="import-link">
                        <li><a routerLink="/">Home Insurance</a></li>
                        <li><a routerLink="/">Life Insurance</a></li>
                        <li><a routerLink="/">Business Insurance</a></li>
                        <li><a routerLink="/">Travel Insurance</a></li>
                        <li><a routerLink="/">Auto Insurance</a></li>
                        <li><a routerLink="/">Property Insurance</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Get in Touch</h3>
                    <p>Sign up to get new exclusive offers from our latest news.</p>

                    <!-- <form class="newsletter-form">
                        <input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
                        <button class="default-btn" type="submit">Subscribe Now</button>
                    </form>	 -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->
