.row.coverage {
  margin-bottom: 30px;
}

.contact-info {



}


.claim-form-totalFee {
  &--title {
    color: var(--mainColor);
    font-size: 16px;
    font-weight: 600;

  }
}

.coverage-cbx {
  margin-top:15px;
  margin-bottom: 15px;
}
.productInfo {
  &--row {
    line-height: 40px;
  }
}