<!-- Start Page Title Area -->
<div class="page-title-area bg-7">
  <div class="container">
      <div class="page-title-content">
          <h2>Claims List</h2>
          <ul>
              <li><a routerLink="/">Home</a></li>
              <li class="active">Claims List</li>
          </ul>
      </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="mat-table__wrapper">
                <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id"
                  matSortDirection="asc" matSortDisableClear>
          
                  <ng-container *ngFor="let item of displayedColumnsBinding" matColumnDef="{{item.matColumnDef}}">
                    <mat-header-cell *matHeaderCellDef>{{item.header}}</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user[item.matColumnDef]}}</mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(user.status) }} kt-badge--wide">{{ user.status === 'Pending' ? 'Pending' : 'Approved' }}</span>
                    </mat-cell>
                  </ng-container>
        
          
          
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          
                  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
          
              </div>
          
              <div class="mat-table__bottom">
                <mat-spinner [diameter]="20" *ngIf="loading$"></mat-spinner>
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" [length]="length" [showFirstLastButtons]="true"  (page)="onPaginate($event)">
                </mat-paginator>
              </div>

        </div>
    </div>
</section>
<!-- End Blog Area -->